.content {
  margin: 0 auto;
  max-width: 1200px;
}

.cart-icon-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 12px;
  background-color: #1677ff;
  color: white;
  z-index: 999;
  border-radius: 12px;
}

.cart-icon-container:hover {
  cursor: pointer;
}

.cart-icon {
  font-size: 40px;
}

.cart-sidebar-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.cart-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 12px 0;
  border-bottom: 1px solid rgb(233, 233, 235);
  &-price {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
  &-operate {
    display: flex;
    flex: 1;
    align-items: center;
  }
  &-number {
    padding: 0 12px;
  }
  &-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
  }
  &-close {
    position: absolute;
    top: 0;
    right: 0;
  }
  &-list-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &-list {
    width: 100%;
    overflow-y: scroll;
    height: calc(100vh - 275px);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
}

.cart-sidebar-footer {
  position: fixed;
  bottom: 0;
  width: 588px;
  margin-bottom: 53px;
  background: white;
  display: flex;
  flex-direction: column;


  & > .total {
    padding: 0 20px;
    line-height: 69px;
    font-size: 18px;
    font-weight: 700;
    & > span:first-child {
      float: left;
    }
    & > span:last-child {
      float: right;
    }
  }
}

.active_button {
  color: #0958d9;
  border-color: #0958d9;
}


.ant-drawer-body {
  overflow: hidden;
}
.cart-icon-count {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-weight: 700;
  font-size: 12px;
  background-color: white;
  color: black;
  border-radius: 50%;
  text-align: center;
}

.filter_button {
  margin: 0 6px 6px;
}

/* 每张卡牌属性 */
.card-item {
  height: 400px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}
/* 翻转前 */
.card-item .card {
  width: 106px;
  height: 126px;
  border-radius: 10px;
  backface-visibility: hidden;
  background-color: aliceblue;
}
/* 翻转后 */
.card-item .contxt {
  width: 106px;
  height: 126px;
  border-radius: 10px;
  backface-visibility: hidden;
  /* 定位于和翻转前相同的位置 */
  position: relative;
  top: -126px;
  left: 0;
  /* Y轴翻转180°，成卡牌效果*/
  transform: rotateY(180deg);
  opacity: 0;
  background-color: bisque;
}
/*将每个卡牌进行定位*/
.card-item-1 {
  position: absolute;
  left: 10px;
  top: 100px;
  animation: issueCard1 1.5s;
}
.card-item-2 {
  position: absolute;
  left: 126px;
  top: 100px;
  animation: issueCard2 1.5s;
}
.card-item-3 {
  position: absolute;
  left: 242px;
  top: 100px;
  animation: issueCard3 1.5s;
}
.card-item-4 {
  position: absolute;
  left: 68px;
  top: 236px;
  animation: issueCard4 1.5s;
}
.card-item-5 {
  position: absolute;
  left: 184px;
  top: 236px;
  animation: issueCard5 1.5s;
}
/* 卡片翻牌 */
/* 背面 */
.cardAnimate {
  animation: rotetaCard 0.5s ease-in;
  animation-fill-mode: forwards;
}
/* 正面 */
.contxtAnimate {
  animation: contxtRotate 0.5s ease-in;
  animation-fill-mode: forwards;
}
/* 正面卡牌翻牌动画 */
@keyframes contxtRotate {
  from {
    transform: rotateY(180deg);
    opacity: 1;
  }

  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

/* 背面卡牌翻牌动画 */
@keyframes rotetaCard {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(180deg);
  }
}

/* 每张卡牌发牌动画 */
@keyframes issueCard1 {
  0% {
    position: fixed;
    top: 350px;
    left: 135px;
    transform: scale(0);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    position: fixed;
    top: 375px;
    left: 134px;
    transform: scale(1);
  }
  60% {
    position: fixed;
    left: 10px;
    top: 100px;
  }
  100% {
  }
}
@keyframes issueCard2 {
  0% {
    position: fixed;
    top: 375px;
    left: 134px;
    transform: scale(0);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    position: fixed;
    top: 375px;
    left: 135px;
    transform: scale(1);
  }
  60% {
    position: fixed;
    top: 375px;
    left: 135px;
    transform: scale(1);
  }
  70% {
    position: absolute;
    left: 126px;
    top: 100px;
  }
  100% {
  }
}
@keyframes issueCard3 {
  0% {
    position: fixed;
    top: 375px;
    left: 135px;
    transform: scale(0);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    position: fixed;
    top: 375px;
    left: 135px;
    transform: scale(1);
  }
  70% {
    position: fixed;
    top: 375px;
    left: 135px;
    transform: scale(1);
  }
  80% {
    position: absolute;
    left: 242px;
    top: 100px;
  }
  100% {
  }
}
@keyframes issueCard4 {
  0% {
    position: fixed;
    top: 375px;
    left: 135px;
    transform: scale(0);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    position: fixed;
    top: 375px;
    left: 135px;
    transform: scale(1);
  }
  80% {
    position: fixed;
    top: 375px;
    left: 135px;
    transform: scale(1);
  }
  90% {
    position: absolute;
    left: 68px;
    top: 236px;
  }
  100% {
  }
}
@keyframes issueCard5 {
  0% {
    position: fixed;
    top: 375px;
    left: 135px;
    transform: scale(0);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    position: fixed;
    top: 375px;
    left: 135px;
    transform: scale(1);
  }
  90% {
    position: fixed;
    top: 375px;
    left: 135px;
    transform: scale(1);
  }
  100% {
    position: absolute;
    left: 184px;
    top: 236px;
  }
}

.cardContent {
}

.cardBox {
  flex: 1;
}

.card_item-title {
  font-weight: bold;
  padding: 12px;
}

.card_item-price {
  margin-bottom: 12px;
}
